{{- $url := .Get "url" -}}

{{- $result := try (resources.GetRemote $url) -}}
{{- with $result -}}
    {{- if .Err -}}
        {{ warnf "Error fetching URL: %s" $url .Err }}
        <p style="color: red;">Failed to fetch URL: {{ $url }}</p>
    {{- else -}}
        {{- $content := .Value.Content -}}
        {{- $title := "" -}}
        {{- $description := "" -}}
        {{- $image := "" -}}

        <!-- 抽出された<head>タグ内を探索 -->
        {{- with index (findRE "(?s)<head[^>]*>.*?</head>" $content) 0 -}}
            {{- range $meta := findRE `<meta.*?>` . -}}
                {{- $name := replaceRE `<.*name=\"(.*?)\".*>` "$1" $meta -}}
                {{- $property := replaceRE `<.*property=\"(.*?)\".*>` "$1" $meta -}}
                {{- $content := replaceRE `<.*content=\"(.*?)\".*>` "$1" $meta -}}

                {{- if eq $property "og:title" -}}
                    {{- $title = $content -}}
                {{- else if eq $property "og:description" -}}
                    {{- $description = $content -}}
                {{- else if eq $property "og:image" -}}
                    {{- $image = $content -}}
                {{- end -}}

                {{- if and (eq $description "") (eq $name "description") -}}
                    {{- $description = $content -}}
                {{- end -}}
            {{- end -}}

            <!-- <title>タグの抽出 -->
            {{- if eq $title "" -}}
                {{- with index (findRE "<title>(.*?)</title>" .) 0 -}}
                    {{- $title = replaceRE "<title>(.*?)</title>" "$1" . -}}
                {{- end -}}
            {{- end -}}
        {{- else -}}
            {{ warnf "Failed to extract <head> from %s" $url }}
        {{- end -}}

        <!-- 画像URLの処理 -->
        {{- if and (ne $image "") (not (hasPrefix $image "http")) -}}
            {{- $image = printf "%s%s" $url $image -}}
        {{- end -}}

        {{- $thumbnail_url := "/noimage.png" -}}
        {{- with try (resources.GetRemote $image) -}}
            {{- if not .Err -}}
                {{- $thumbnail_url = .Value.RelPermalink -}}
            {{- end -}}
        {{- end -}}

        <!-- 表示部分 -->
        <a href="{{- $url -}}" class="webcard">
            <div class="webcard-thumb">
                <img src="{{ $thumbnail_url }}" alt="thumbnail" />
            </div>

            <div class="webcard-body">
                <div class="webcard-title">{{- $title -}}</div>
                <div class="webcard-link">{{- $url -}}</div>
            </div>
        </a>
    {{- end -}}
{{- end -}}